@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 44% 95%;
    --foreground: 206 52% 15%;
    --card: 39 44% 100%;
    --card-foreground: 206 52% 15%;
    --popover: 39 44% 100%;
    --popover-foreground: 206 52% 15%;
    --primary: 38 100% 50%;
    --primary-foreground: 206 52% 15%;
    --secondary: 39 30% 90%;
    --secondary-foreground: 206 52% 15%;
    --muted: 39 30% 90%;
    --muted-foreground: 206 52% 40%;
    --accent: 206 52% 25%;
    --accent-foreground: 39 44% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 39 30% 85%;
    --input: 39 30% 88%;
    --ring: 38 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 206 52% 10%;
    --foreground: 39 44% 95%;
    --card: 206 52% 12%;
    --card-foreground: 39 44% 95%;
    --popover: 206 52% 10%;
    --popover-foreground: 39 44% 95%;
    --primary: 38 100% 50%;
    --primary-foreground: 206 52% 15%;
    --secondary: 206 52% 15%;
    --secondary-foreground: 39 44% 95%;
    --muted: 206 52% 15%;
    --muted-foreground: 39 44% 80%;
    --accent: 39 44% 95%;
    --accent-foreground: 206 52% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 52% 20%;
    --input: 206 52% 20%;
    --ring: 38 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
